[user]
	name = Valeria K
	email = laaurora.val@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = code -w
[color]
    ui = auto
[alias]
    amend = commit -a --amend
    gqf = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
    cm = commit
    cam = !git add -A && git commit -m
    co = checkout
    cob = checkout -b
    st = status
    sst = status -sb
    lg = log --oneline --decorate
