@font-face {
 font-family: "SFMono Nerd Font";
 font-weight: 400;
 src: url('https://github.com/iAurora/dotfiles/blob/main/dot_config/blink/fonts/SFMono%20Nerd%20Font/SFMono%20Regular%20Nerd%20Font%20Complete.otf' format('opentype'));
 font-style: normal;
}

@font-face {
 font-family: "SFMono Nerd Font";
 font-weight: 400;
 src: url('https://github.com/iAurora/dotfiles/blob/main/dot_config/blink/fonts/SFMono%20Nerd%20Font/SFMono%20Regular%20Italic%20Nerd%20Font%20Complete.otf' format('opentype'));
 font-style: italic;
}

@font-face {
 font-family: "SFMono Nerd Font";
 font-weight: 700;
 src: url('https://github.com/iAurora/dotfiles/blob/main/dot_config/blink/fonts/SFMono%20Nerd%20Font/SFMono%20Bold%20Nerd%20Font%20Complete.otf' format('opentype'));
 font-style: normal;
}

@font-face {
 font-family: "SFMono Nerd Font";
 font-weight: 700;
 src: url('https://github.com/iAurora/dotfiles/blob/main/dot_config/blink/fonts/SFMono%20Nerd%20Font/SFMono%20Bold%20Italic%20Nerd%20Font%20Complete.otf' format('opentype'));
 font-style: italic;
}


